/* App.css */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Đẩy Footer xuống dưới */
}

footer {
  background-color: #0056D2;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  z-index: 1; /* Đảm bảo Footer không che chatbot */
}
